.container {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container h1 {
  color: var(--fundo);
  display: flex;
  text-align: center;
  margin-inline: 1rem;
}

.logo {
  width: 9rem;
  height: 4.5rem;
}

@media (max-width: 768px) {
  /*para dispositivos moveis*/
  .container h1 {
    display: none;
  }

  .logo {
    width: 13rem;
    height: 6rem;
  }
}
