.container {
  display: flex;
  padding-inline: 20rem;
  margin-top: 3rem;
  justify-content: space-evenly;
}

.hidden {
  /*esconder um h1 feito pra alinhar*/
  visibility: hidden;
}

.form h1 {
  margin: 0;
  color: whitesmoke;
}
.form label {
  display: flex;
  color: whitesmoke;
}

.form input,
.form select {
  color: black;
  padding-left: 7px;
  border-radius: 10px;
  border: 2px solid var(--primary50);
  background-color: whitesmoke;
  width: 16rem;
  height: 2rem;
  font-family: "Mukta", sans-serif;
}

.form select:required:invalid, /*aplicar no campo do select enquanto valor for nulo (required)*/
.form input[type="date"]:required:invalid,/*aplicar no campo do input type=date enquanto valor for nulo (required)*/
.form input:not(:required),/*aplicar nos campos dos input type=date enquanto valor for nulo (não required)*/
/* .form select:not(:required),aplicar no input do select enquanto valor for nulo (não required) */
.form input::placeholder,/*aplica nos placeholders do input*/
.form textarea::placeholder {
  /*aplica nos placeholders dos textareas*/
  color: #0000004f;
}

.form option {
  color: #000000; /* cor das opções */
}

.form option[value=""] {
  color: #00000041; /* cor das opções que tem valores nulos (ou seja, os defaults)*/
}

.form button {
  width: 16rem;
  height: 2rem;
  margin: auto;
  margin-top: 1rem;
  display: block;
  background-color: green;
  color: whitesmoke;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

.form button:hover {
  opacity: 75%;
  font-size: 17px;
}

.form textarea {
  border-radius: 10px;
  border: 2px solid var(--primary50);
  width: 16rem;
  height: 2rem;
  font-family: "Mukta", sans-serif;
}

@media (max-width: 768px) {
  /*para dispositivos moveis*/
  .container {
    display: block;
    padding-inline: 0;
    margin-top: 3rem;
    align-items: center;
    flex-direction: column;
  }

  .form h1 {
    text-align: center;
  }

  .form label {
    display: flex;
    margin: auto;
    justify-content: center;
  }

  .form input {
    display: flex;
    margin: auto;
    justify-content: center;
  }

  .form select {
    display: flex;
    margin: auto;
    justify-content: center;
  }
  .form textarea {
    display: flex;
    margin: auto;
    justify-content: center;
  }
}
