@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap");

:root {
  --fundo: white;

  --blacktext: #000;
  --redtext: #b60303;

  background: linear-gradient(
    90deg,
    rgb(44, 44, 44) 0%,
    rgb(61, 61, 61) 30%,
    rgb(48, 48, 48) 50%,
    rgb(0, 0, 0) 100%
  );

  font-family: "Mukta", sans-serif;
  color: black;
}
