@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap");

:root {
  --fundo: white;

  --blacktext: #000;
  --redtext: #b60303;

  background: linear-gradient(
    90deg,
    rgba(69, 5, 5, 1) 0%,
    rgba(148, 10, 10, 1) 35%,
    rgba(196, 14, 14, 1) 100%
  );

  font-family: "Mukta", sans-serif;
  color: black;
}
