@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap");

:root {
  --fundo: white;

  --blacktext: #000;
  --redtext: #b60303;

  background: linear-gradient(
    90deg,
    rgb(46, 3, 3) 0%,
    rgb(133, 11, 11) 35%,
    rgb(192, 15, 15) 100%
  );

  font-family: "Mukta", sans-serif;
  color: black;
}
